body{
color: rgb(232, 232, 140);
background:rgb(126, 184, 203);
margin:0px;
}

header {
    border-bottom: solid 2px rgb(110, 158, 221);
    padding: 20px;
    font-size: 32px;
    color: rgb(110, 158, 221);
}

section {
    background: rgb(165, 139, 193);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}
